/node_modules
/vendor
/public/build
/public/imagenes

/includes/config/database.php
package-lock.json
composer.lock

/admin/propiedades/inyeccion.php
/admin/propiedades/inyeccion2.php
/admin/propiedades/inyeccion3.php
usuario.php