/** Media Queries **/
@mixin telefono {
    @media (min-width: #{$telefono}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $tablet) {
        @content;
    }
}
  
@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}
@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}

@mixin boton($bg-color, $display) {
    display: $display;
    padding: 1rem 3rem;
    border: none;
    margin-top: calc($separacion / 2);
    font-weight: $bold;
    text-align: center;
    text-decoration: none;
    background-color: $bg-color;
    color: $blanco;
    
    &:hover {
        background-color: darken($bg-color, 5);
        cursor: pointer;
    }
}