.no-webp .imagen-contacto {
    background-image: url("../img/encuentra.jpg");
}
.webp .imagen-contacto {
    background-image: url("../img/encuentra.webp");
}

.imagen-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: calc($separacion*2) 1rem;
    background-size: cover;
    background-position: center center;

    h2 {
        font-size: 4rem;
        font-weight: $black;
        color: $blanco;
    }
    p {
        font-size: 1.8rem;
        color: $blanco;
    }
}

.contacto-condicional {
    display: none;
}
.contacto-condicional-mostrar {
    display: block;
    margin-top: 2rem;
}

.formulario .err-msg {
    position: relative;
    top: -2rem;
    padding-left: .5rem;
    font-weight: $bold;
    color: red;
}
.formulario .err-msg.err-msg--contact {
    top: -.5rem;
    padding-left: 0;
}
